spring:
  application:
    name: freshfridge
  datasource:
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 3
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 10MB
  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080
  servlet:
    context-path: /api/v1

app:
  jwt:
    secret: ${JWT_SECRET:6ea42fbb3eb2b49a31c2b354746e1398d8162f07d53b38d367c82c75782330c6}
    expiration-ms: ${JWT_EXPIRATION:86400000}
  mail:
    from: ${MAIL_FROM:noreply@freshfridge.com}
  verification:
    expiration-hours: 24
  admin:
    email: ${ADMIN_EMAIL:admin@freshfridge.com}
    password: ${ADMIN_PASSWORD:Admin@123456}
    name: ${ADMIN_NAME:System Admin}

cloudinary:
  cloud-name: ${CLOUDINARY_NAME}
  api-key: ${CD_API_KEY}
  api-secret: ${CD_API_SECRET}

firebase:
  credentials:
    path: ${FIREBASE_CREDENTIALS_PATH:classpath:fcm/config.json}
    json: ${FIREBASE_CREDENTIALS_JSON:}